<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app.nossasaudeapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PessoaActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activities.CadastroUsuarioActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activities.DadosPessoaActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".activities.ExameActivity" />
        <activity android:name=".activities.DadosDoencaActivity" />
        <activity android:name=".activities.DoencaActivity" />
        <activity android:name=".activities.DadosExameActivity" />
        <activity android:name=".activities.ConsultaActivity" />
        <activity android:name=".activities.DadosConsultaActivity" />
        <activity android:name=".activities.MedicoActivity" />
        <activity android:name=".activities.DadosMedicoActivity" />
        <activity android:name=".activities.DadosMedicamentoActivity" />
        <activity android:name=".activities.MedicamentoActivity" />
        <activity
            android:name=".activities.MedicamentoViewActivity"
            android:label="@string/title_activity_medicamento_view"
            android:parentActivityName=".activities.MedicamentoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MedicamentoActivity" />
        </activity>
        <activity
            android:name=".activities.MedicoViewActivity"
            android:label="@string/title_activity_medico_view"
            android:parentActivityName=".activities.MedicoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MedicoActivity" />
        </activity>
        <activity
            android:name=".activities.DoencaViewActivity"
            android:label="@string/title_activity_doenca_view"
            android:parentActivityName=".activities.DoencaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.DoencaActivity" />
        </activity>
    </application>

</manifest>