<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app.nossasaudeapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".activities.TelaInicialActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:parentActivityName=".activities.TelaInicialActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.TelaInicialActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CadastroUsuarioActivity" />
        <activity android:name=".activities.PessoaActivity" />

        <activity
            android:name=".activities.DadosPessoaActivity"
            android:label="DadosPessoaActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MainActivity" />
        </activity>

        <!-- Medicamento -->
        <activity
            android:name=".activities.MedicamentoActivity"
            android:label="MedicamentoActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DadosMedicamentoActivity"
            android:label="DadosMedicamentoActivity"
            android:parentActivityName=".activities.MedicamentoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MedicamentoActivity" />
        </activity>
        <activity
            android:name=".activities.MedicamentoViewActivity"
            android:label="@string/title_activity_medicamento_view"
            android:parentActivityName=".activities.MedicamentoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MedicamentoActivity" />
        </activity>

        <!-- Doenca -->
        <activity
            android:name=".activities.DoencaActivity"
            android:label="DoencaActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DadosDoencaActivity"
            android:label="DadosDoencaActivity"
            android:parentActivityName=".activities.DoencaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.DoencaActivity" />
        </activity>
        <activity
            android:name=".activities.DoencaViewActivity"
            android:label="@string/title_activity_doenca_view"
            android:parentActivityName=".activities.DoencaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.DoencaActivity" />
        </activity>

        <!-- Medico -->
        <activity
            android:name=".activities.MedicoActivity"
            android:label="MedicoActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DadosMedicoActivity"
            android:label="DadosMedicoActivity"
            android:parentActivityName=".activities.MedicoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MedicoActivity" />
        </activity>
        <activity
            android:name=".activities.MedicoViewActivity"
            android:label="@string/title_activity_medico_view"
            android:parentActivityName=".activities.MedicoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MedicoActivity" />
        </activity>

        <!-- Exame -->
        <activity
            android:name=".activities.ExameActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DadosExameActivity"
            android:parentActivityName=".activities.ExameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.ExameActivity" />
        </activity>
        <activity
            android:name=".activities.ExameViewActivity"
            android:parentActivityName=".activities.ExameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.ExameActivity" />
        </activity>

        <!-- Consulta -->
        <activity
            android:name=".activities.ConsultaActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DadosConsultaActivity"
            android:parentActivityName=".activities.ConsultaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.ConsultaActivity" />
        </activity>
        <activity
            android:name=".activities.ConsultaViewActivity"
            android:parentActivityName=".activities.ConsultaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.nossasaudeapp.activities.ConsultaActivity" />
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>